/* For webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
}
